In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("US_Accidents_2022.csv")
df

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-512230,Source2,1,2022-09-08 05:49:30,2022-09-08 06:34:53,41.946796,-88.208092,NaN,NaN,0.000,...,False,False,False,False,True,False,Night,Night,Day,Day
1,A-512231,Source2,1,2022-09-08 02:02:05,2022-09-08 04:31:32,34.521172,-117.958076,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-512232,Source2,1,2022-09-08 05:14:12,2022-09-08 07:38:17,37.542839,-77.441780,NaN,NaN,0.000,...,False,False,False,False,True,False,Night,Night,Night,Night
3,A-512233,Source2,1,2022-09-08 06:22:57,2022-09-08 06:52:42,40.896629,-81.178452,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-512234,Source2,2,2022-09-08 06:36:20,2022-09-08 07:05:58,41.409359,-81.644318,NaN,NaN,1.910,...,False,False,False,False,False,False,Night,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762447,A-5464714,Source1,2,2022-10-08 13:29:50,2022-10-08 14:44:50.000000000,32.916783,-96.717758,32.916294,-96.717758,0.034,...,False,False,False,False,True,False,Day,Day,Day,Day
1762448,A-5464715,Source1,2,2022-10-11 05:30:00,2022-10-11 06:47:57.000000000,33.882405,-117.364874,33.882406,-117.365524,0.037,...,False,False,False,False,False,False,Night,Night,Night,Day
1762449,A-5464716,Source1,2,2022-08-25 09:41:00,2022-08-25 11:00:54.000000000,33.882416,-117.366134,33.882414,-117.366349,0.012,...,False,False,False,False,True,False,Day,Day,Day,Day
1762450,A-5464717,Source1,2,2022-06-28 14:18:09,2022-06-28 19:29:33.000000000,40.692173,-73.550584,40.705595,-73.450696,5.314,...,False,False,False,False,False,False,Day,Day,Day,Day
1762451,A-5464718,Source1,2,2022-09-18 08:48:00,2022-09-18 10:30:00.000000000,30.257131,-97.611813,30.256604,-97.612163,0.042,...,False,False,False,False,True,False,Day,Day,Day,Day

In [11]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [12]:
severity_counts = df['Severity'].value_counts()
print(severity_counts)

Severity
2    1603346
3      77957
4      43274
1      37875
Name: count, dtype: int64

In [14]:
# 先把有 NaN 的列刪掉
df = df.drop(columns=['End_Lat', 'End_Lng'])
df_clean = df.dropna()

severity_counts = df_clean['Severity'].value_counts()
print(severity_counts)

Severity
2    1496207
3      72449
4      38056
1      35880
Name: count, dtype: int64

In [15]:
# df_clean.to_csv('cleaned_2022.csv', index=False)